.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;

}

body {
  color: blue;
}

p {
  padding: 360px;
  text-align: left;
  background: #1abc9a;
  color: white;
  font-size: 90px;
}

h1 {
  padding: 260px;
  text-align: center;
  background: #1abc9b;
  color: blue;
  font-size: 50px;
  border-style: dotted;
}

h2 {
  padding: 160px;
  text-align: right;
  background: #1abc9c;
  color: yellow;
  font-size: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

.header {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}
